
<div class="container">
    <div class="heading-1 text-center ">
        <div class="d-inline-block">
            <hr class="before" />
            <h2 class="font-nunito">Find Talent</h2>
            <hr class="after" />
        </div>
    </div>
    <div class="d-flex flex-row flex-lg-column">
        <div class="p-2">
            <ul class="nav u-nav-v1-1 u-nav-primary u-nav-profile  nowrap g-mb-10" role="tablist" data-target="nav-1-1-default-hor-left-rounded-underline" data-tabs-mobile-type="slide-up-down" data-btn-classes="btn btn-md btn-block u-btn-outline-primary g-mb-20">
                <li class="nav-item flex-grow-1">
                    <a class="nav-link g-rounded-bottom-0 font-nunito @(Model=="pool_talent_services"?"active show":"")" data-toggle="tab" href="#pool_talent_services" role="tab" aria-selected="true">  Pool Talent Services</a>
                </li>
                <li class="nav-item flex-grow-1">
                    <a class="nav-link g-rounded-bottom-0 font-nunito @(Model=="direct_placement_services"?"active show":"")" data-toggle="tab" href="#direct_placement_services" role="tab" aria-selected="false"> Direct Placement Services</a>
                </li>
                <li class="nav-item flex-grow-1">
                    <a class="nav-link g-rounded-bottom-0 font-nunito @(Model=="contract_or_contract_to_hire"?"active show":"")" data-toggle="tab" href="#contract_or_contract_to_hire" role="tab" aria-selected="false"> Contract or Contract to Hire</a>
                </li>
                <li class="nav-item flex-grow-1">
                    <a class="nav-link g-rounded-bottom-0 font-nunito @(Model=="home_infusion_therapy_nursing"?"active show":"")" data-toggle="tab" href="#home_infusion_therapy_nursing" role="tab" aria-selected="false"> Home Infusion Therapy Nursing</a>
                </li>

            </ul>
        </div>
        <div class="paddingp2"></div>
        <div class="p-2">
            <div id="pool_talent_services" class="tab-pane  fade  @(Model=="pool_talent_services"?"active show":"")">
                <div class="background marginbottomcontent">
                    <div class="d-flex flex-column flex-md-row">
                        <!-- Welcome Content Starts -->
                        <div class="p-2 mx-auto">
                            <img class="findtalent_pic" src="~/images/findtalen1.jpg">
                        </div>
                        <div class="paddingp2"></div>
                        <div class="p-2 flex-grow-1">
                            <p class="font-nunito">We have a portfolio of qualified and experienced medical professionals available for on-demand shift staffing needs. Our technologically interactive platform enables medical institution to list available staffing requirements per shift basis, thus providing matching talent the opportunity to pick these shifts and provide the much-needed medical services.</p>

                            <p class="font-nunito">Our staffing pool consists of;</p>


                            <ul>
                                <li class="font-nunito">Doctors</li>
                                <li class="font-nunito">Nurses, RN</li>
                                <li class="font-nunito">Nurses, LPN</li>
                                <li class="font-nunito">Certified Nursing Assistants, CNA</li>
                                <li class="font-nunito">Lab Technicians</li>
                                <li class="font-nunito">Surgical Technicians</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="direct_placement_services" class="tab-pane  fade  @(Model=="direct_placement_services"?"active show":"")">
                <div class="background marginbottomcontent">
                    <div class="d-flex flex-column flex-md-row">
                        <!-- Welcome Content Starts -->
                        <div class="p-2 mx-auto">
                            <img class="findtalent_pic" src="~/images/findtalent2.jpg">
                        </div>
                        <div class="paddingp2"></div>
                        <div class="p-2 flex-grow-1">
                            <p class="font-nunito">We offer direct placement services for any open staffing positions within a medical institution. Our niche recruiters will work with your hiring managers in sourcing and vetting the best possible candidates. Our platform allows you to advertise for these positions for free. We will screen the candidates resumes and present only the candidates closely matched to the requirements of your open roles.</p>


                        </div>
                    </div>
                </div>
            </div>
            <div id="contract_or_contract_to_hire" class="tab-pane  fade @(Model=="contract_or_contract_to_hire"?"active show":"")">
                <div class="background marginbottomcontent">
                    <div class="d-flex flex-column flex-md-row">
                        <!-- Welcome Content Starts -->
                        <div class="p-2 mx-auto">
                            <img class="findtalent_pic" src="~/images/findtalent3.jpg">
                        </div>
                        <div class="paddingp2"></div>
                        <div class="p-2 flex-grow-1">
                            <p class="font-nunito">We offer temporary employment services for your midterm to long-term staffing needs on contractual basis. We will work closely with you in identifying the best possible candidates and go a step further to provide all HR and payroll services for assigned contractors.</p>


                        </div>
                    </div>
                </div>
            </div>
            <div id="home_infusion_therapy_nursing" class="tab-pane  fade @(Model=="home_infusion_therapy_nursing"?"active show":"")">
                <div class="background marginbottomcontent">
                    <div class="d-flex flex-column flex-md-row">
                        <!-- Welcome Content Starts -->
                        <div class="p-2 mx-auto">
                            <img class="findtalent_pic findtalent_picposition" src="~/images/findtalent4.jpg">
                        </div>
                        <div class="paddingp2"></div>
                        <div class="p-2 flex-grow-1">
                            <p class="font-nunito">We establish long-term relationships with infusion nurses to ensure that patient care and educational needs are completely met.</p>
                            <p class="font-nunito">Our intake specialists coordinate insurance verification to establish the patient’s care plan.</p>
                            <p class="font-nunito">Our clinicians help healthcare providers develop a personalized care plan for each patient based on diagnosis and therapeutic goals.</p>
                            <p class="font-nunito">Additionally our clinicians continuously monitor patients and keep healthcare providers informed with comprehensive reports.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>