@model medprohiremvp.Models.Applicant.ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}
@section cssplugins{ 
<link href="~/node_modules/cropperjs/dist/cropper.min.css" rel="stylesheet" />
}
<div class="new-heading new-heading-background ">
    <h2 class="">@ViewData["Title"]</h2>
</div>
<div class="usercontainer ">
    @{
        var passwordtemp = TempData["changeanswer"] != null ? TempData["changeanswer"].ToString() : "";
        @if (Model.Profile.Disabled)
        {
            <p class="text-danger text-left">You have reached the maximum amount of changes allowed. Please try again in one hour.</p>
        }
        <div class="background">
            <div class="d-flex flex-column flex-xl-row">
                <div class="p-2 mx-auto">

                    @*<div style="background-image:linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2)), url(@Model.Profile.Imgsrc); background-size: 350px 350px;" class="Profile" id="image-cropper" />
                        </div>*@

                    <div class="u-block-hover g-pos-rel">
                        <figure>
                            <img class="profile img-fluid w-100 u-block-hover__main--zoom-v1" id="image-cropper" src="@Model.Imgsrc" />
                        </figure>

                        <!-- Figure Caption -->
                        <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                            <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                                <!-- Figure Social Icons -->
                                <ul class="list-inline text-right g-flex-middle-item--bottom g-mb-20">
                                    <li class="list-inline-item align-middle g-mx-7">
                                        <a class="u-icon-v1 u-icon-size--md g-color-white" id="uploadimg" href="#">
                                            <i class="fas fa-upload"></i>
                                        </a>
                                    </li>
                                    @if (!Model.Profile.Disabled)
                                    {
                                        <li class="list-inline-item align-middle g-mx-7" hidden>
                                            <a class="u-icon-v1 u-icon-size--md g-color-white" id="saveimage" href="#">
                                                <i class="fas fa-save"></i>
                                            </a>
                                        </li>
                                    }
                                </ul>
                                <!-- End Figure Social Icons -->
                            </div>
                        </figcaption>
                        <form asp-action="SaveProfileImage" id="SaveProfileImage" method="post" enctype="multipart/form-data">
                            <div class="form-group list-group-item " hidden>
                                <input type="file" asp-for="ProfileImage" class="cropit-image-input" accept=".png, .jpg, .jpeg" />
                                <span asp-validation-for="ProfileImage" class="text-danger"></span>
                            </div>
                        </form>
                    </div>
                    <div class="list-group list-group-border-0 g-mb-40">
                        <!-- Profile -->
                        <a class="list-group-item justify-content-between @(passwordtemp==""?"active":"")" data-toggle="tab" href="#Profileview" role="tab" aria-selected="false">
                            <span><i class="fal fa-user-circle"></i> Profile</span>
                        </a>
                        <!-- End Profile -->
                        <a class="list-group-item justify-content-between  @(passwordtemp!=""?"active":"")" data-toggle="tab" href="#password" role="tab" aria-selected="false">
                            <span><i class="mdi mdi-lock-reset"></i> Change Password</span>
                        </a>
                        <a class="list-group-item justify-content-between" data-toggle="tab" href="#changephone" role="tab" aria-selected="false">
                            <span><i class="mdi mdi-cellphone-iphone"></i> Change Phone Number</span>
                        </a>
                        <a class="list-group-item justify-content-between" data-toggle="tab" href="#changeresume" role="tab" aria-selected="false">
                            <span><i class="far fa-file"></i> Change Resume</span>
                        </a>
                    </div>
                    <div class="text-left form-group ">

                    </div>
                </div>
                <div class="paddingp2"></div>
                <div class="p-2  flex-grow-1">
                    <div id="Profileview" class="tab-pane  fade @(passwordtemp==""?"active show":"")">
                        <div class="d-flex flex-row flex-lg-column ">
                            <div class="p-2">
                                <div class="form-group">
                                    <ul class="nav u-nav-v1-1 u-nav-primary u-nav-profile flex-column flex-lg-row nowrap g-mb-30" role="tablist" data-target="nav-1-1-default-hor-left-rounded-underline" data-tabs-mobile-type="slide-up-down" data-btn-classes="btn btn-md btn-block u-btn-outline-primary g-mb-20">
                                        <li class="nav-item flex-grow-1">
                                            <a class="nav-link g-rounded-bottom-0 active show" data-toggle="tab" href="#EditProfile" role="tab" aria-selected="true"> <i class="fal fa-user-circle"></i> Edit Profile</a>
                                        </li>
                                        <li class="nav-item flex-grow-1">
                                            <a class="nav-link g-rounded-bottom-0" data-toggle="tab" href="#specalities" role="tab" aria-selected="false"><i class="far fa-user-md"></i>  Licensure</a>
                                        </li>
                                        <li class="nav-item flex-grow-1">
                                            <a class="nav-link g-rounded-bottom-0" data-toggle="tab" href="#workhistory" role="tab" aria-selected="false"><i class="mdi mdi-hospital-marker"></i>  Work History</a>
                                        </li>
                                        <li class="nav-item flex-grow-1">
                                            <a class="nav-link g-rounded-bottom-0" data-toggle="tab" href="#certificates" role="tab" aria-selected="false"><i class="far fa-file-certificate"></i> Certificates</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="paddingp2"></div>
                            <div class="p-2">
                                <div asp-validation-summary="ModelOnly" class="text-danger text-left"></div>
                                <div class="tab-pane  fade active show" id="EditProfile">
                                    <form asp-action="Profile" id="Profile" asp-controller="Applicant" method="post" enctype="multipart/form-data">
                                        <div class="row ">

                                            <div class="col-md-6 col-sm-12">
                                                <div class=" form-group">
                                                    <label asp-for="Profile.FirstName" class="control-label "></label>
                                                    <input asp-for="Profile.FirstName" class="form-control flat animation" disabled title="Can not edit" />
                                                    <span asp-validation-for="Profile.FirstName" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Profile.LastName" class="control-label "></label>
                                                    <input asp-for="Profile.LastName" class="form-control flat animation" disabled title="Can not edit" />
                                                    <span asp-validation-for="Profile.LastName" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Profile.MiddleName" class="control-label "></label>
                                                    <input asp-for="Profile.MiddleName" class="form-control flat animation" disabled title="Can not edit" />
                                                    <span asp-validation-for="Profile.MiddleName" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Profile.Email" class="control-label "></label>
                                                    <input asp-for="Profile.Email" class="form-control flat animation" disabled title="Can not edit" />
                                                    <span asp-validation-for="Profile.Email" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Profile.VisaStatus_ID" class="control-label "></label>
                                                    <select class="form-control selectpicker flat registerselect" title=" " asp-items="@ViewBag.VisaStatus" asp-for="Profile.VisaStatus_ID" data-ng-style="btn-search"></select>
                                                    <span asp-validation-for="Profile.VisaStatus_ID" class="text-danger"></span>
                                                </div>

                                                <div class="form-group-sm text-center" hidden id="othervisa">
                                                    <div class="form-group-sm">
                                                        <p>Are you eligible to work in USA?</p>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6 text-right">
                                                            <input type="radio" value="true" asp-for="Profile.IsEligible" id="yes">
                                                            <label for="yes" class="radio-inline">
                                                                Yes
                                                            </label>
                                                        </div>

                                                        <div class="col-6 text-left">
                                                            <input type="radio" value="false" asp-for="Profile.IsEligible" id="no" />
                                                            <label for="no" class="radio-inline">
                                                                No
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="Profile.State_ID" class="control-label ">@(Html.DisplayNameFor(m => m.Profile.State_ID))</label>
                                                    <select class="form-control selectpicker flat registerselect" title="Select @(Html.DisplayNameFor(m=>m.Profile.State_ID))" data-size="15" asp-items="@ViewBag.States" asp-for="Profile.State_ID"></select>
                                                    <span asp-validation-for="Profile.State_ID" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Profile.City_ID" class="control-label ">@(Html.DisplayNameFor(m => m.Profile.City_ID))</label>
                                                    <select class="form-control selectpicker flat registerselect" title="Select @(Html.DisplayNameFor(m=>m.Profile.City_ID))" data-size="15" asp-items="@ViewBag.Cities" asp-for="Profile.City_ID"></select>
                                                    <span asp-validation-for="Profile.City_ID" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Profile.Address" class="control-label ">@(Html.DisplayNameFor(m => m.Profile.Address))</label>
                                                    <input asp-for="Profile.Address" class="form-control flat animation" />
                                                    <span asp-validation-for="Profile.Address" class="text-danger"></span>
                                                </div>
                                                <input type="hidden" asp-for="Profile.Latitude" />
                                                <input type="hidden" asp-for="Profile.Longitude" />
                                                <div class="form-group">
                                                    <label asp-for="Profile.ZipCode" class="control-label ">@(Html.DisplayNameFor(m => m.Profile.ZipCode))</label>
                                                    <input asp-for="Profile.ZipCode" class="form-control flat animation" />
                                                    <span asp-validation-for="Profile.ZipCode" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Profile.Availability_ID" class="control-label ">@(Html.DisplayNameFor(m => m.Profile.Availability_ID))</label>
                                                    <select class="form-control selectpicker flat registerselect" title=" " asp-items="@ViewBag.Availability" asp-for="Profile.Availability_ID"></select>
                                                    <span asp-validation-for="Profile.Availability_ID" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        @if (!Model.Profile.Disabled)
                                        {
                                            <div class="form-group text-center">
                                                <button type="button" class="btn btn-main animation" id="savechanges"> Save </button>
                                            </div>
                                        }
                                    </form>
                                </div>

                                <div id="specalities" class="tab-pane  fade">
                                    <form asp-action="AddSpeciality" id="AddSpeciality" asp-controller="Applicant" method="post" enctype="multipart/form-data">
                                        <table>
                                            <tbody id="bspecalities">

                                                @if (Model.specialities != null)
                                                {
                                                    var specialities = Model.specialities;
                                                    @for (int i = 0; i < specialities.Count; i++)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <div class="row text-left">
                                                                    <div class="form-group">
                                                                        <input type="hidden" asp-for="specialities[i].Id" disabled data-count="@Model.specialities.Count" />
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-12">
                                                                        <div class=" form-group">
                                                                            <label asp-for="specialities[i].Speciality_ID" class="control-label"></label>
                                                                            <div class="form-group">
                                                                                <select disabled class="form-control selectpicker flat registerselect" title="" asp-items="@ViewBag.Speciality" asp-for="specialities[i].Speciality_ID"></select>
                                                                            </div>
                                                                            <span asp-validation-for="specialities[i].Speciality_ID" class="text-danger"></span>
                                                                        </div>
                                                                    </div>


                                                                    <div class="col-md-6 col-sm-12">
                                                                        <div class=" form-group">
                                                                            <label asp-for="specialities[i].License" class="control-label "></label>
                                                                            <input disabled class="form-control flat animation" type="text" placeholder="License" asp-for="specialities[i].License">
                                                                            <span asp-validation-for="specialities[i].License" class="text-danger"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-12">
                                                                        <div class=" form-group">
                                                                            <label asp-for="specialities[i].LegabilityStates" class="control-label "></label>
                                                                            <div class="form-group">
                                                                                <select disabled class="form-control selectpicker flat registerselect" title=" " asp-items="@ViewBag.States" asp-for="specialities[i].LegabilityStates"></select>
                                                                            </div>
                                                                            <span asp-validation-for="specialities[i].LegabilityStates" class="text-danger"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-12">
                                                                        <div class=" form-group">
                                                                            <label asp-for="specialities[i].IssueDate" class="control-label "></label>
                                                                            <input class="form-control flat animation datepickerday-issue" type="text" asp-for="specialities[i].IssueDate" value="@specialities[i].IssueDate.ToString("MM-yyyy")" disabled>
                                                                            <span asp-validation-for="specialities[i].IssueDate" class="text-danger"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>

                                                        </tr>
                                                    }
                                                }

                                            </tbody>
                                            <tfoot class="text-right">
                                                <tr>
                                                    <td>
                                                        <div class="form-group">
                                                            <button type="button" id="add-speciality" class="btn btn-main "><i class="fa fa-plus"></i> Add License</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        @if (!Model.Profile.Disabled)
                                        {
                                            <div class="form-group text-center">
                                                <button type="button" class="btn btn-main animation" id="savespacialities"> Save </button>
                                            </div>
                                        }
                                    </form>

                                </div>

                                <div id="workhistory" class="tab-pane  fade">
                                    <form asp-action="AddWorkHistory" id="AddWorkHistory" asp-controller="Applicant" method="post" enctype="multipart/form-data">
                                        <table>

                                            <tbody id="bworkhistory">

                                                @if (Model.workHistories != null)
                                                {
                                                    var workHistories = Model.workHistories;

                                                    @for (int i = 0; i < workHistories.Count; i++)
                                                    {

                                                        <tr>
                                                            <td>
                                                                <div class="row text-left">
                                                                    <div class="form-group">
                                                                        <input type="hidden" asp-for="workHistories[i].WorkHistory_ID" readonly data-count="@Model.workHistories.Count" />
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-12">
                                                                        <div class="form-group">
                                                                            <label asp-for="workHistories[i].PlaceName" class="control-label ">@(Html.DisplayNameFor(m => m.workHistories[0].PlaceName))</label>
                                                                            <input class="form-control flat animation" asp-for="workHistories[i].PlaceName" data-val-required="The Employer field is required." disabled>
                                                                            <span asp-validation-for="workHistories[i].PlaceName" class="text-danger"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-12">
                                                                        <div class="form-group">
                                                                            <label asp-for="workHistories[i].JobTitle" class="control-label ">@(Html.DisplayNameFor(m => m.workHistories[0].JobTitle))</label>
                                                                            <div class="form-group-sm">
                                                                                <select disabled class="form-control selectpicker flat registerselect" title="" asp-items="@ViewBag.Speciality" asp-for="workHistories[i].JobTitle" data-val-required="Job Title field is required."></select>
                                                                            </div>
                                                                            <span asp-validation-for="workHistories[i].JobTitle" class="text-danger"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-12">
                                                                        <div class="form-group">
                                                                            <label asp-for="workHistories[i].StartDate" class="control-label ">@(Html.DisplayNameFor(m => m.workHistories[0].StartDate))</label>
                                                                            <input class="datepickerday flat animation" type="text" asp-for="workHistories[i].StartDate" value="@Model.workHistories[i].StartDate.Value.ToString("MM-yyyy")" data-val-required="The StartDate field is required." disabled>
                                                                            <span asp-validation-for="workHistories[i].StartDate" class="text-danger"></span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-6 col-sm-12">
                                                                        <div class="form-group">
                                                                            <label asp-for="workHistories[i].EndDate" class="control-label ">@(Html.DisplayNameFor(m => m.workHistories[0].EndDate))</label>
                                                                            <input class="datepickerday flat animation" type="text" asp-for="workHistories[i].EndDate" value="@(!Model.workHistories[i].UntilNow ? Model.workHistories[i].EndDate.Value.ToString("MM-yyyy") : "")" data-val-required="The EndDate field is required." disabled>
                                                                            <span asp-validation-for="workHistories[i].EndDate" class="text-danger"></span>
                                                                        </div>
                                                                        <div class="form-group-sm" id="untilnow_checkbox">
                                                                            @if (Model.workHistories[i].UntilNow)
                                                                            {
                                                                                <input type="checkbox" asp-for="workHistories[i].UntilNow" class="until" data-val-required="The EndDate field is required.">
                                                                            }
                                                                            else
                                                                            {
                                                                                <input type="checkbox" disabled asp-for="workHistories[i].UntilNow" class="until" data-val-required="The EndDate field is required.">
                                                                            }

                                                                            <label class="checkbox" asp-for="workHistories[i].UntilNow">@(Html.DisplayNameFor(m => m.workHistories[0].UntilNow))</label>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </td>

                                                        </tr>
                                                    }
                                                }


                                            </tbody>
                                            <tfoot class="text-right">
                                                <tr>
                                                    <td>
                                                        <button type="button" id="add-workhistory" class="btn btn-main animation"><i class="fa fa-plus"></i> Add Work History</button>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        @if (!Model.Profile.Disabled)
                                        {
                                            <div class="form-group text-center">
                                                <button type="button" class="btn btn-main animation" id="saveworkhistory"> Save </button>
                                            </div>
                                        }
                                    </form>
                                </div>

                                <div id="certificates" class="tab-pane  fade">
                                    <form asp-action="AddCertificates" id="AddCertificates" asp-controller="Applicant" method="post" enctype="multipart/form-data">
                                        <table>

                                            <tbody id="bcertificates">

                                                @if (Model != null)
                                                {
                                                    @for (int i = 0; i < Model.certificates.Count; i++)
                                                    {

                                                        <tr>
                                                            <td>
                                                                <div class="row text-left  align-items-center">
                                                                    <div class="form-group">
                                                                        <input type="hidden" asp-for="certificates[i].Certification_ID" disabled data-count="@Model.certificates.Count" />
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-12">
                                                                        <div class="form-group">
                                                                            <label asp-for="certificates[i].CertificateType" class="control-label ">@Html.DisplayNameFor(m => m.certificates[0].CertificateType)</label>
                                                                            <input class="form-control  flat animation" asp-for="certificates[i].CertificateType" data-val-required="Certificate Type is required" disabled />
                                                                            <span asp-validation-for="certificates[i].CertificateType" class="text-danger"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-12 text-center">
                                                                        <div class="form-group">

                                                                            <a target="_blank" class="btn btn-link" asp-action="FileView" asp-controller="Applicant" asp-route-Id="@Model.certificates[i].Certification_ID" asp-route-FileType="Certificate">View Image</a>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>

                                                        </tr>
                                                    }
                                                }

                                            </tbody>
                                            <tfoot class="text-right">
                                                <tr>
                                                    <td>
                                                        <button type="button" id="add-certificate" class="btn btn-main animation"><i class="fa fa-plus"></i> Add Certificate</button>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        @if (!Model.Profile.Disabled)
                                        {
                                            <div class="form-group text-center">
                                                <button type="button" class="btn btn-main animation" id="savecertificates"> Save </button>
                                            </div>
                                        }
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="password" class="tab-pane  fade @(passwordtemp!=""?"active show":"")">
                        <form asp-action="ChangePassword" id="ChangePassword" asp-controller="Account" method="post">


                            <div class="text-center">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-12  mx-auto ">
                                        <div asp-validation-summary="All" class="text-danger"></div>

                                        <div class="form-group">
                                            <label asp-for="Password.OldPassword" class="control-label "></label>
                                            <input class="form-control flat animation" id="oldpassword" asp-for="Password.OldPassword" />
                                            <span asp-validation-for="Password.OldPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Password.NewPassword" class="control-label "></label>
                                            <input class="form-control flat animation" asp-for="Password.NewPassword" />
                                            <span asp-validation-for="Password.NewPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Password.ConfirmPassword" class="control-label "></label>
                                            <input asp-for="Password.ConfirmPassword" class="form-control flat animation" />
                                            <span asp-validation-for="Password.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                @if (!Model.Profile.Disabled)
                                {

                                    <button type="submit" class="btn btn-main smalltext">Save Password</button>
                                }
                            </div>

                        </form>
                    </div>
                    <div id="changephone" class="tab-pane  fade ">
                        <form asp-action="ChangePhoneNumber" id="ChanePhoneNumber" asp-controller="Account" method="post">


                            <div class="text-center">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-12  mx-auto ">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="phonenumerror"></div>
                                        <div class="form-group">
                                            <label class="control-label ">Old Phone Number</label>
                                            <input class="form-control flat animation" id="OldPhoneNumber" value="@Model.PhoneNumber" disabled />

                                        </div>
                                        <div class="form-group ">
                                            <label asp-for="PhoneNumber" class="control-label applicantnames">New Phone Number</label>
                                            <div class="afterphonenumberforspan">
                                                <div class="text-left">
                                                    <input type="text" class="form-control flat animation phonenumber" id="NewPhoneNumber" />
                                                    <label class="phonenumbercode">+1</label>
                                                </div>
                                            </div>
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>

                                    </div>
                                </div>
                                @if (!Model.Profile.Disabled)
                                {

                                    <button type="button" class="btn btn-main smalltext" id="phoneverify" data-number="@Model.PhoneNumber">Verify</button>
                                }
                            </div>

                        </form>
                    </div>
                    <div id="changeresume" class="tab-pane  fade">
                        <form asp-action="Profile" id="ChangeResume" asp-controller="Applicant" method="post">

                            <div class="text-center">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-12  mx-auto ">
                                        <div class="form-group ">
                                            <label asp-for="OldResume" class="control-label applicantnames">My Resume</label>
                                            <div class="afterphonenumberforspan">
                                                <div class="text-left">
                                                    <input type="text" class="form-control flat animation " id="myResume" />
                                                </div>
                                            </div>
                                            <span asp-validation-for="OldResume" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <a target="_blank" asp-action="FileView" asp-controller="Applicant" asp-route-path=@Model.OldResume>
                                                Download Resume
                                            </a>

                                        </div>
                                        <div class="form-group">
                                            <label asp-for="NewResume" class="control-label "></label>
                                            <input type="file" asp-for="NewResume" class="form-control flat animation text-center" accept=".pdf, .doc, .docx, .rtf" />
                                            <span asp-validation-for="NewResume" class="text-danger"></span>
                                        </div>

                                    </div>
                                </div>
                                @if (!Model.Profile.Disabled)
                                {

                            <button type="submit" class="btn btn-main smalltext">Upload</button>
                                }
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
        @if (!Model.Profile.Disabled)
        {
            <div class="modal  fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog ">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <div class="d-flex justify-content-between">
                                <div class="p-2 flex-grow-1">
                                    <h2 class="">Changes</h2>
                                </div>
                                <div class="p-2">
                                    <a class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></a>
                                </div>

                            </div>
                        </div>

                        <div class="modal-body">
                            <input type="hidden" id="formid" />
                            <p>
                                Are you sure you want to make changes?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" id="save" class="btn btn-main smalltext">Yes</button>
                                </div>
                                <div class="col-6">
                                    <button type="button" class="btn btn-main smalltext" data-dismiss="modal" id="dismissmodal">No</button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="modal  fade" id="PhoneVerifyModel" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="d-flex justify-content-between">
                                <div class="p-2 flex-grow-1">
                                    <h2 class="">Verification</h2>
                                </div>
                                <div class="p-2">
                                    <a class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></a>
                                </div>

                            </div>
                        </div>

                        <div class="modal-body">

                            <p>
                                Please insert 6 - digit code
                            </p>

                            <input id="verifykey" type="number" class="form-control flat animation" placeholder="XXXXXX" size="6" />
                            <input type="hidden" id="key" />
                        </div>
                        <div class="modal-footer">

                            <button type="button" id="verify" class="btn btn-main smalltext">Verify & Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal  fade" id="AnswerModel" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <h6 class="success">
                                <span class="text-success">
                                    <i class="fal fa-check-circle"></i>
                                    Changes Successfully Saved
                                   
                                </span>
                            </h6>

                            <h6 class="danger" hidden>
                                <span class="text-danger"><i class="fal fa-exclamation-circle"></i> </span>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal  fade" id="AvailableModel" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog ">
                  
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="d-flex justify-content-between">
                                <div class="p-2 flex-grow-1">
                                    <h2 class="">Changes</h2>
                                </div>
                                <div class="p-2">
                                    <a class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></a>
                                </div>

                            </div>
                        </div>
                        <div class="modal-body text-left">
                            <input type="hidden" id="formid" />
                            <div class="form-group-sm">
                                <label for="Pickdays" class="control-label">
                                    Pick spacial days:
                                </label>

                                <div class="form-group-sm">
                                    <div class="Pickdays">

                                        <div class="input-group date datepickershift" data-date-multidate="true">
                                            <input type="text" hidden id="AppliedDaysList" name="AppliedDaysList" autocomplete="off" class=" form-control" />
                                            <div class="input-group-addon">
                                                <span id="calendar"><i class="mdi mdi-calendar-blank mdi-24px"></i><strong> Pick Specific Days for available</strong></span>

                                            </div>
                                        </div>
                                        <span id="pickeddays"></span>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group-sm">
                                <input type="checkbox" id="IsOneDayAvailable" class="AvailableType_ID" />
                                <label for="IsOneDayAvailable" class="radio-inline availabletype">
                                    Please confirm that you are available for the selected shift/s today.
                                </label>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" id="saveavailable" class="btn btn-main smalltext">Yes</button>
                                </div>
                                <div class="col-6">
                                    <button type="button" class="btn btn-main smalltext" data-dismiss="modal" id="dismissmodal">No</button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        }

    }
</div>
@section jsplugins{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/node_modules/jquery-input-mask-phone-number/dist/jquery-input-mask-phone-number.min.js"></script>
    <script src="~/node_modules/cropper/dist/cropper.min.js"></script>
    <script src="~/node_modules/cropperjs/dist/cropper.min.js"></script>
}
@section scripts{
    <script src="~/js/Applicant/Profile.js"></script>
    <script>
        $(document).ready(function () {
            var password = "@(TempData["changeanswer"] != null ? TempData["changeanswer"].ToString() : "0")";
            if (password != "0") {
                if (password == "ok") {
                    $('#AnswerModel').modal('show');
                }
                else {
                    $('#AnswerModel').find('.modal-body').find('.success').attr('hidden', true);
                    $('#AnswerModel').find('.modal-body').find('.danger').attr('hidden', false);
                    $('#AnswerModel').find('.modal-body').find('.danger span').append(password);
                    $('#AnswerModel').modal('show');
                }
            }
        });
    </script>
}