
@model CMSmedprohiremvp.Models.ApplicantViewModel
@if (Model != null)
{
    <div class="mx-auto text-center">
        <div class="heading-2">
            <div class="d-inline-block">

                <h3>Personal Information</h3>

            </div>
        </div>
        <div class="background ">

            <div class="form-group text-left">
                <input type="hidden" value=@Model.Applicant_ID id="applicant_id" />
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class=" form-group">
                            <strong><label asp-for="FirstName" class="control-label ">Name:</label></strong>
                            <label>@String.Format("{0} {1} {2}", Model.LastName, Model.FirstName, Model.MiddleName)</label>
                        </div>

                        <div class="form-group">
                            <label class="control-label "><strong>Phone Number:</strong>@Model.PhoneNumber</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label "><strong>Employment Eligibility:</strong>@Model.Visastatus</label>
                            @if (Model.VisaStatus_ID == 3)
                            {
                                <label class="control-label "><strong>Is Eligible:</strong>@(Model.IsEligible ? "Yes" : "No")</label>
                            }
                        </div>
                        <div class="form-group">
                            <label class="control-label "><strong>Availability:</strong>@Model.Availability</label>

                        </div>

                    </div>


                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="control-label "><strong>State:</strong>@Model.StateName.Substring(Model.StateName.IndexOf(',') + 1)</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label "><strong>City:</strong>@Model.CityName</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label "><strong>Address:</strong>@Model.Address</label>
                        </div>


                    </div>
                </div>


            </div>
            <div class="spacer-extra-large"></div>
            <div class="col-lg-7 col-sm-9 col-xs-12  mx-auto ">
                <div class="heading-2">
                    <div class="d-inline-block">
                        <h1>On Boarding Process </h1>
                    </div>
                </div>
                <div class="background ">
                    <div class="row text-left">
                        <div class="col-md-6 col-sm-12">
                            <div class=" form-group">
                                <strong><label class="control-label ">TIN:</label></strong>
                                <label>@Model.TIN</label>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="control-label "><strong>SSN:</strong>@Model.SSN</label>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                @if (Model.I_9 != null)
                                {
                                    <label class="control-label "><strong>I 9:</strong><a target="_blank" asp-action="FileView" asp-controller="Applicant" asp-route-path=@Model.I_9>View</a></label>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-sm-9 col-xs-12  mx-auto ">
                <div class="heading-2">
                    <div class="d-inline-block">
                        <h3>References</h3>
                    </div>
                </div>
                <div class="background ">
                    <table>

                        <tbody id="breferences">

                            @if (Model.references.Count > 0)
                            {
                                @for (int i = 0; i < Model.references.Count; i++)
                                {

                                    <tr>
                                        <td>
                                            <div class="row text-left">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label "><strong>Company: </strong>@Model.references[i].Company</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label "><strong>Contact Name: </strong>@Model.references[i].ContactName</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label "><strong>Position: </strong>@Model.references[i].Position</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label "><strong>Email: </strong>@Model.references[i].Email</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label "><strong>Phone: </strong>@Model.references[i].PhoneNumber</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td><p>Applicant didn't fill this part</p></td></tr>

                            }
                        </tbody>

                    </table>
                </div>
            </div>
            <hr />

            <button type="submit" id="boardingcomplete" class="btn btn-primary" data-id="@Model.Applicant_ID">Complete</button>
        </div>
    </div>
}