@model UsersListModel
@using medprohiremvp.DATA.Entity
@{

    if (Model.ApplicantViewModels != null)
    {
        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <h2>Applicants</h2>
                        <div class="ibox-content">
                            <div class="d-flex flex-column flex-md-row flex-fill justify-content-between" >
                                <div class="p-2 m-b-xs my-auto">
                                    <ul class="list-unstyled list- ">
                                        <li class="dropdown">
                                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                                Notifications <span class="label label-primary">@Model.ApplicantViewModels.Where(x => x.BoardingProcess == 0 || (x.BoardingProcess > 1 && x.Employment_agreement == null) || x.AppliedShiftCount > 0).ToList().Count</span>
                                            </a>
                                            <ul class="dropdown-menu dropdown-alerts dw">
                                                <li>
                                                    <a href="#" data-id="Not Started">
                                                        <div class=" row align-items-center">
                                                            <i class="fa fa-user-md fa-2x fa-fw"></i> <span class="labelnot label-danger">@Model.ApplicantViewModels.Where(x => x.BoardingProcess == 0).ToList().Count</span> New Users
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a href="#" data-id="empagreement">
                                                        <div class="row align-items-center">
                                                            <i class="fa fa-pencil-square fa-2x fa-fw "></i><span class="labelnot label-danger">@Model.ApplicantViewModels.Where(x => x.BoardingProcess > 1 && x.Employment_agreement == null).ToList().Count</span> Activate Emp. Agreement

                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="divider"></li>


                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="p-2 m-b-xs">
                                    <div class="row">
                                        <div class="col m-b-xs">
                                            <input class="form-control flat animation datepicker" id="insertdate" type="text" placeholder="Insert Date" />
                                        </div>
                                        <div class="input-group-append mx-auto"><span class="input-group-text m-b-xs">to</span></div>
                                        <div class="col m-b-xs">
                                            <input class="form-control flat animation datepicker" placeholder="EndDate" id="enddate" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="p-2">
                                    <div class="input-group">
                                        <input placeholder="Search" type="text" class="form-control form-control-sm" id="searchtext"> <span class="input-group-append">
                                            <button type="button" class="btn btn-sm btn-primary">
                                                Go!
                                            </button>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover dataTable">


                                                <thead>
                                                    <tr>
                                                        <th>Modify date</th>
                                                        <th>Applicant</th>
                                                        <th>DrugScreen</th>
                                                        <th>BoardingProccess</th>
                                                        <th></th>
                                                        <th></th>
                                                        <th hidden></th>
                                                        <th></th>
                                                        <th></th>


                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (int i = 0; i < Model.ApplicantViewModels.Count; i++)
                                                    {

                                                        <tr>
                                                            @*<td class="client-avatar"><img alt="img" src="@Model.ApplicantViewModels[i].Imgsrc"> </td>*@
                                                            <td>@Model.ApplicantViewModels[i].DateModified.GetValueOrDefault().ToString("MMMM dd yyyy")</td>
                                                            <td>@String.Format("{0} {1}", Model.ApplicantViewModels[i].LastName, Model.ApplicantViewModels[i].FirstName)</td>
                                                            <td> @Model.ApplicantViewModels[i].Drugscreen</td>

                                                            @{
                                                                var status = "";

                                                                switch (Model.ApplicantViewModels[i].BoardingProcess)
                                                                {
                                                                    case 0:
                                                                        status = "Not Started";
                                                                        break;
                                                                    case 1:
                                                                        status = "Waiting for user";
                                                                        break;
                                                                    case 2:
                                                                        status = "Under review";
                                                                        break;
                                                                    case 3:
                                                                        status = "Completed";
                                                                        break;


                                                                }
                                                                <td> <span class="label @((BordingProcessEnum)@Model.ApplicantViewModels[i].BoardingProcess)">@status</span></td>
                                                            }

                                                          
                                                            <td>
                                                                <a href=@Url.Action("ApplicantDetails", "Applicant", new { Applicant_ID = Model.ApplicantViewModels[i].Applicant_ID}) class="btn  btn-sm"> View </a>

                                                            </td>

                                                            <td>
                                                                @if (Model.ApplicantViewModels[i].BoardingProcess == 3)
                                                                {
                                                                    <button data-id="@Model.ApplicantViewModels[i].User_ID" data-address="@Model.ApplicantViewModels[i].Address" data-name="@String.Format("{0} {1}", Model.ApplicantViewModels[i].LastName, Model.ApplicantViewModels[i].FirstName)" id="agreement">Emp. Agreement</button>

                                                                }
                                                            </td>
                                                            <td hidden>@(Model.ApplicantViewModels[i].Employment_agreement != null || Model.ApplicantViewModels[i].BoardingProcess <= 1 ? "" : "empagreement")</td>

                                                            <td>
                                                                @if (Model.ApplicantViewModels[i].BoardingProcess == 0)
                                                                {
                                                                    <button data-id="@Model.ApplicantViewModels[i].User_ID" data-address="@Model.ApplicantViewModels[i].Address" id="boarding" @(Model.ApplicantViewModels[i].BoardingProcess == 0 ? "" : "disabled")>Activate Boarding</button>
                                                                }
                                                                else
                                                                {
                                                                    @if (Model.ApplicantViewModels[i].BoardingProcess == 2)
                                                                    {
                                                                        <button data-id="@Model.ApplicantViewModels[i].User_ID" id="completeboarding">Complete Boarding</button>
                                                                    }
                                                                }
                                                            </td>
                                                            <td>
                                                                <button data-userid="@Model.ApplicantViewModels[i].User_ID" id="ComposeMail"><i class="fa fa-envelope-open-o"></i>Email</button>
                                                            </td>
                                                        </tr>


                                                    }
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    }
}
<div class="modal   fade" id="ModalEmployment" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>

            </div>
            <div class=""></div>
            <div class="heading-2 text-center">
                <div class="d-inline-block text-center">
                    <hr class="before" />
                    <h2 class="">Employment Agreement</h2>
                    <hr class="after" />
                </div>
            </div>

            <form id="Employment" method="post" asp-action="GenerateEmployment">
                <div class="modal-body">

                    <div class="container">
                        <div class="row">
                            <input type="hidden" id="employee_id" asp-for="Employment.Employee_ID" />
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Employee Name</label>
                                    <input class="form-control flat animation" id="employee_name" asp-for="Employment.Employee_Name" readonly />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Employee Address</label>
                                    <input class="form-control flat animation" id="employee_address" asp-for="Employment.Employee_address" readonly />
                                </div>
                            </div>

                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label ">Employer Name</label>
                                    <input class="form-control flat animation" required type="text" value="Med Pro Hire LLC" asp-for="Employment.Employer_Name" readonly />
                                </div>

                                <div class="form-group">
                                    <label class="control-label ">Employer Address</label>
                                    <input class="form-control flat animation" required type="text" asp-for="Employment.Employer_address" value="701 S 4th Ave, Minneapolis, MN, US, 55415" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">

                                    <label class="control-label ">Choose Specialty</label>
                                    <select class="form-control selectpicker flat" multiple title="" required asp-for="Employment.specialities"></select>
                                    <span class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Hourly Rate</label>
                                    <input type="text" class="form-control flat animation" required asp-for="Employment.Hourly_rate" />

                                </div>
                            </div>

                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label ">Agreement Date</label>
                                    <input class="form-control flat animation datepicker" required type="text" asp-for="Employment.InsertDate" />
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label ">Contractor Position Start Date</label>
                                    <input class="form-control flat animation datepicker" required type="text" asp-for="Employment.StartDate" />
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="modal-footer text-center">

                    <button type="submit" id="verify" class="btn btn-primary" data->Generate & Sign</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal   fade" id="ModalBoarding" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>

            </div>
            <div class=""></div>

            <div class="modal-body">

            </div>


        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/user/userslist.js"></script>
    <script src="~/js/Datatable.js"></script>
    <script>
     $("#sendemail").on('click', function () {
        $.ajax({
            url: "/Home/SendEmail",
            type: "POST",
            data: { model: @Model },
            success: function (response) {

                location.reload();

            }
        });
    });
    </script>
}