@{
    string action = ViewContext.RouteData.Values["Action"].ToString().ToLower();
    string controller = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
}
@using Microsoft.AspNetCore.Identity
@using medprohiremvp.DATA.IdentityModels
@using medprohiremvp.DATA.Entity
@using medprohiremvp.Service.IServices
@inject UserManager<ApplicationUser> UserManager
@inject ICommonServices CommonServices
@{
    var user = UserManager.GetUserAsync(User).Result;
    var roles = UserManager.GetRolesAsync(user).Result;
    string rolename = roles[0];

    if (rolename == "ClinicalInstitution")
    {


        ClinicalInstitutions clinical = CommonServices.FindClinicaByUserID(user.Id);
        if (clinical != null)
        {

                <div class="userleft-menu">
                    <nav class="nav navbar-light navbar-expand-lg navbar-expand-md ">
                        <button class="navbar-toggler navbar-toggler-center" type="button" data-toggle="collapse" data-target="#navbarleft" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse flex-column " id="navbarleft">
                            <div class="form-group text-left">
                                <a class="nav-link  @((action == "dashboard") && (controller == "clinicalinstitution") ? "active" : "")" asp-controller="ClinicalInstitution" asp-action="DashBoard"><i class="mdi mdi-view-dashboard-outline"></i> Dashboard</a>
                            </div>
                            <div class="form-group text-left">
                                <a class="nav-link  @(((action == "profile") && (controller == "clinicalinstitution")) || (action == "changepassword") ? "active" : "")" asp-controller="ClinicalInstitution" asp-action="Profile"><i class="fal fa-clinic-medical"></i> Profile</a>
                            </div>
                            @if (clinical.Status > 2)
                            {
                            <div class="form-group text-left">
                                <a class="nav-link  @((action == "locationlistview" || action == "newlocation" || action == "editlocation") && (controller == "clinicalinstitution") ? "active" : "")" asp-controller="ClinicalInstitution" asp-action="LocationListView"><i class="fal fa-location"></i> Locations</a>
                            </div>
                            <div class="form-group text-left">
                                <a class="nav-link @((action == "clientshiftlist" || action == "newclientshift" || action == "editshift" || action == "removeshift" || action == "shiftdetails") && (controller == "clinicalinstitution") ? "active" : "")" asp-controller="ClinicalInstitution" asp-action="ClientShiftList"><i class="fal fa-folder-open"></i> Order Management</a>
                            </div>
                            <div class="form-group text-left">
                                <a class="nav-link @((action == "inprocessshiftlist" || action == "inproccessshiftdetail") && (controller == "clinicalinstitution") ? "active" : "")" asp-controller="ClinicalInstitution" asp-action="InProcessShiftList"><i class="fal fa-chalkboard-teacher"></i> In Process Shifts</a>
                            </div>
                            <div class="form-group text-left">
                                <a class="nav-link @((action == "search") && (controller == "clinicalinstitution") ? "active" : "")" asp-controller="ClinicalInstitution" asp-action="Search"><i class="fal fa-users"></i> Contractors</a>
                            </div>
                            }
                            <div class="form-group text-left">
                                <a class="nav-link @((action == "notifications") && (controller == "home") ? "active" : "")" asp-controller="Home" asp-action="Notifications"><i class="fal fa-bell"></i> Notifications</a>
                            </div>

                        </div>

                    </nav>
                </div>
            }
        }
    }
            @*<div class="new-heading new-heading-background ">
                    <h2 class=""> &nbsp;</h2>
                </div>
                <div class="userleft-menutry">

                    <div menuitemname="Support" class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <i class="fas fa-info"></i> &nbsp; Categories
                            </h4>
                        </div>
                        <div class="list-group">
                            <a class="list-group-item  @((action == "dashboard") && (controller == "clinicalinstitution") ? "active" : "")" asp-controller="ClinicalInstitution" asp-action="DashBoard">
                                Dashboard
                            </a>
                            <a class="list-group-item  @(((action == "profile" ) && (controller == "clinicalinstitution")) || (action == "changepassword" ) ? "active" : "")" asp-controller="ClinicalInstitution" asp-action="Profile">Profile</a>
                            <a class="list-group-item  @((action == "locationlistview" || action=="newlocation" || action=="editlocation") && (controller == "clinicalinstitution") ? "active" : "")" asp-controller="ClinicalInstitution" asp-action="LocationListView">Locations</a>
                            <a class="list-group-item @((action == "clientshiftlist" ||action == "newclientshift" ||action == "editshift" ||action == "removeshift" ||action == "shiftdetails") && (controller == "clinicalinstitution") ? "active" : "")" asp-controller="ClinicalInstitution" asp-action="ClientShiftList">Shift Management</a>
                            <a class="list-group-item @((action == "inprocessshiftlist" || action=="inproccessshiftdetail") && (controller == "clinicalinstitution") ? "active" : "")" asp-controller="ClinicalInstitution" asp-action="InProcessShiftList">In Process Shifts</a>
                            <a class="list-group-item @((action == "search") && (controller == "clinicalinstitution") ? "active" : "")" asp-controller="ClinicalInstitution" asp-action="Search">Contractors</a>
                            <a class="list-group-item @((action == "notifications") && (controller == "home") ? "active" : "")" asp-controller="Home" asp-action="Notifications">Notifications</a>
                            <a class="list-group-item  @((action == "support"  || action=="newticket" || action=="ticketcontent") && (controller == "account") ? "active" : "")" asp-controller="Account" asp-action="Support">Support</a>
                        </div>
                    </div>

                </div>*@




